/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Space+Mono:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

:root,
html,
body {
  direction: rlt !important;
  font-family: 'El Messiri', sans-serif !important;
  /* font-family: 'Lato', sans-serif !important; */
  /* font-family: 'Space Mono', monospace; */
}

button,
input,
label {
  font-family: 'El Messiri', sans-serif !important;
}

.blogs-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.mega-menu-drop.mantine-rtl-Popover-dropdown {
  position: absolute;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}

.my-fade-out {
  opacity: 0;
}

/* html,
body {
  overflow: unset !important;
} */
/* .swiper-slide {
  -webkit-backface-visibility: hidden !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
}

.swiper-slide .content {
  transform: scale(0.5);
}

.swiper-slide-active .content,
.swiper-slide-duplicate-active .content {
  transform: scale(1);
} */